button {
  cursor: pointer;
}

.btn {
  .badge {
    position: absolute;
    top: 2px;
    right: 6px;
    font-size: 9px;
  }
}

.btn {

  [class^="icon-"],
  [class*=" icon-"] {
    display: inline-block;
    margin-top: -2px;
    vertical-align: middle;
  }
}
