<div class="row">
  <div class="form-group col-sm-6 input-group">
    <div class="custom-file">
      <input #inputUpload type="file" [id]="id" class="ml-1" (change)="alterandoArquivoSelecionado($event.target.files)"
        [attr.multiple]="permitirVariosArquivos">
      <label class="custom-file-label cursorAdicionar text-truncate" [for]="id">{{textoInicial}} </label>
    </div>
  </div>
  <div class="form-group col-sm-6 align-self-center">
    <progressbar [max]="tamanhoArquivo" [value]="bytesEnviados" type="danger" [striped]="true" [animate]="true"
      class="aumentarAlturaBarra">
      <span class="text-dark font-weight-bold" [class.pl-sm-4]="isZeroProgresso()">{{percentualAtual}}</span>
    </progressbar>
  </div>
</div>
