<div class="animate__animated animate__fadeIn">
  <form [formGroup]="form">
    <div class="row mt-5 mr-5 ml-5">
      <div class="col-12 col-xl-8">
        <app-upload-arquivo (escolherArquivo)="selecionarArquivo($event)"
          [eventoProgressoUpload]="eventoUploadProgresso" [tamanhoMaxArquivoBytes]="TAMANHO_ARQUIVO_64MB">
        </app-upload-arquivo>
      </div>
    </div>
    <div class="row mt-2 mr-5 ml-5">
      <div class="col-auto">
        <app-botao-bloquear-liberar typeBotao="Submmit" nomeBotao="Adicionar" [liberar]="form.valid"
          [bloquear]="form.invalid" (eventoClick)="cadastrarPessoa()">
        </app-botao-bloquear-liberar>
      </div>
    </div>
  </form>
</div>
