<div class="animate__animated animate__fadeIn">
  <form [formGroup]="form">
    <div class="row mb-1 mt-5 mr-1 ml-1">
      <div class="mb-2 col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
        <app-input formControlName="cpf" [control]="form.controls['cpf']" textoPlaceHolder="CPF"
          [somenteLeitura]="false" mensagemErro="Campo obrigatório e deve conter 11 dígitos de 0-9."
          classComplementar="" mascara="000.000.000-00" [removerMascara]="true"></app-input>
      </div>
      <div class="col-12 col-sm-7 col-md-8 col-lg-6 col-xl-4">
        <app-input formControlName="nome" [control]="form.controls['nome']" textoPlaceHolder="Nome"
          [somenteLeitura]="false" mensagemErro="Campo obrigatório." classComplementar="" mascara="L*"
          [removerMascara]="false">
        </app-input>
      </div>
    </div>
    <div class="row mr-1 ml-1">
      <div class="col-12 col-lg-10 col-xl-8">
        <app-upload-arquivo (escolherArquivo)="selecionarArquivo($event)"
          [eventoProgressoUpload]="eventoUploadProgresso" [tamanhoMaxArquivoBytes]="TAMANHO_ARQUIVO_64MB">
        </app-upload-arquivo>
      </div>
    </div>
    <div class="row mt-1 mr-1 ml-1 mt-3">
      <div class="col-12 col-lg-5 col-xl-4">
        <app-upload-imagem (escolherArquivo)="selecionarImagem($event)">
        </app-upload-imagem>
      </div>
    </div>
    <div class="row mt-1 mb-3 mr-1 ml-1 justify-content-start">
      <div class="col-auto">
        <app-botao-bloquear-liberar typeBotao="submit" nomeBotao="Adicionar" [liberar]="form.valid"
          [bloquear]="form.invalid" (eventoClick)="cadastrarPessoa()">
        </app-botao-bloquear-liberar>
      </div>
    </div>
  </form>
</div>
