.frame-video {
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;

  border-color: black;

  border-width: 10px;
  border-bottom-width: 5px;

  background-color: black;
}
