<div class="animate__animated animate__fadeIn">
  <div class="row mt-5 ml-5 mr-5">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header bg-dark">Email</div>
        <div class="card-body">
          <p>jonathan.ssm.dev@outlook.com</p>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
        <div class="card">
          <div class="card-header bg-dark">Celular</div>
          <div class="card-body">
            <p>(31) 97138-4337</p>
          </div>
        </div>
      </div>
  </div>
</div>
